body {
	background-color: black;
}

.main {
	background-image: url('../images/streetfighterback.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.intro {
	font-family: arial;
	font-size: 48px;
	color: white;
	position: relative;
	float: right;
	left: -50px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-throwing, .ryu-still, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.commands {
	background-image: url('../images/command.png');
	background-repeat: no-repeat;
	width: 400px;
	height: 120px;
	position: absolute;
	float: right;
	left: 700px;
	top: 176px;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height:90px;
	display: none;
	position: relative;
	top: 165px;
	left: -140px;
	float: left;
}

